/*
*  html5resetcss
*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

body{
    background-color: rgb(218, 218, 129, .8);
}
header{
    background-color: rgb(200, 184, 184, .8);
}
.location{
    background-color: rgb(223, 208, 188, .8);
}
.program{
    background-color: rgb(235, 177, 106, .8);
}
.gifts{
    background-color: rgb(233, 233, 212, .8);
}
.questions{
    background-color: rgb(160, 154, 146, .8);
}
.cont-1{
    background-color: rgb(167, 230, 105, .8);
}
.cont-2{
    background-color: rgba(130, 236, 24, 0.8);
}
.cont-3{
    background-color: rgba(128, 255, 0, 0.8);
}
.contact{
    background-color: rgb(150, 64, 230, .8);
}
footer{
    background-color: rgb(223, 95, 95, .8);
}
*{
    box-sizing: border-box;
}
/*==header style==*/
header{
    background: url('../images/wedding-landing-cover.jpg') no-repeat 70% center/cover;
    text-align: center;
    display: table;
    width: 100%;
    height: 100vh;
}
.wrapper{
    display: table-cell;
    vertical-align: middle;
    color: white;
}
.wrapper p{
    font-family: 'Libre Baskerville';
    margin: 1rem;
    letter-spacing: 0.2rem;
    font-size: 1.4rem;
    color: hsla(0,0%,100%,.9);
}
.wrapper h1{
    font-family: 'Great Vibes';
    font-size: 4rem;
    color: #d2ba87;
    margin-top: 3rem;
}
.center-background{
    background-color: hsla(100,0%,0%,.6);
    padding: 0.2rem;
    opacity: 0.7;
}
.center-background .tagline{
    font-size: 1.2rem;
    color: hsla(0,0%,100%,.9);
}
hr{
    margin-inline: 30%;
}
/*==location style==*/
.location{
    background-image: url('images/wedding-landing-background.png');
    text-align: center;
    color: #444349;
}
div.location h2{
    font-family: 'Great Vibes';
    text-align: center;
    font-size: 2.2rem;
    color: #444349;
    padding: 2rem;
}
.location h3{
    font-family: 'Muli';
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
.location p{
    font-size: 1.1rem;
    line-height: 1.5rem;
}
.location .ceremony{
    margin-left: 5rem;
    margin-right: 5rem;
}
.location img{
    margin-bottom: 0.5rem;
}
.hr-border{
    border-color: #000;
}



